---

import Layout from '../layouts/MainLayout.astro';
// import ButtonPlus from '../components/ButtonPlus.astro';
import data from '../data/bill.json';
import { Image } from 'astro:assets';
import duckImage from "../assets/images/icons/duck.png";
import confetti from "../assets/images/backgrounds/confetti.png";

---

<Layout title="Paymentus 20th Anniversary Home" description="Big time.">
		<main class="w-100">
			<div class="container-fluid px-0 pt-3 m-0 bg-billebration text-light">
				<div class="row min-vh-100 position-relative">
					<!-- <img class="position-absolute z-0 top-50 start-50 translate-middle w-75" src="./assets/images/backgrounds/confetti.png" alt=""> -->
					<Image class="position-absolute z-0 top-50 start-50 translate-middle w-75 h-auto p-5" src={confetti} alt=""/>
					<Image class="position-absolute top-50 start-50 translate-middle w-50 h-auto" src={duckImage} alt=""/>

					<!-- <img style="width: 50%; height: auto" class="position-absolute top-50 start-50 translate-middle"  src="src/assets/images/icons/duck.png" alt=""> -->
					<div class="col-lg-12 d-flex flex-column justify-content-center align-items-center text-center position-relative">
						<h1 class="fw-900 text-uppercase" style="font-size: 16vw; color: transparent; -webkit-text-stroke: 2px #ffffff;">Billebration</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<h2 class="fw-bold mb-3" style="font-size: 8vmin;">Cheers to 20 Years!</h2>
						<p class="fs-5">In 2004, an idea was hatched: simplify bill payments for the millions of bill payers throughout North America. To celebrate this idea, Paymentus welcomed someone who knows a thing or two about bills – Bill the Duck. For two decades, Bill has helped our clients keep their customer service afloat, get their ducks in a row and best serve those who have bills. Today, we’re excited to celebrate Bill and all those who have flown with us over these last 20 years. Here’s to greater successes to come!</p>
					</div>
				</div>

				<div class="row row-cols-1 row-cols-lg-2 p-5">
					<div class="col">
						<div class="p-5">
							<h2 class="display-4 fw-bold">Meet Bill</h2>
							<p class="fs-5">You’ve seen him at trade shows, on Instagram and maybe even on a pair of shoes or two. b Get to know our fine-feathered friend and learn more about his dedication to making life easy for everyone – and everything – who has bills.</p>
						</div>
					</div>
					<div class="col">
						<div class="p-5 rounded-4">
							<Image style="width: 100%; height: auto" class=""  src={duckImage} width="400" height="200" alt=""/>
						</div>
					</div>
					</div>

					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<h2 class="display-4 fw-bold">The Bill Bio</h2>
						</div>
					</div>

					<div class="row row-cols-1 row-cols-2 g-3">
						<div class="col">
							<div class="p-5">
								{
									data.bill_bio.slice(0,4).map((item) => (
										<div class="alert bg-purple rounded-4 shadow" role="alert">
											<h2 class="mb-0">{item.title}: <span class="font-brush">{item.content}</span></h2>
										</div>
									))
								}
							</div>
						</div>
						<div class="col">
							<div class="p-5">
									{
										data.bill_bio.slice(4,8).map((item) => (
											<div class="alert bg-purple rounded-4 shadow" role="alert">
												<h2 class="mb-0">{item.title}: <span class="font-brush">{item.content}</span></h2>
											</div>
										))
									}
							</div>
						</div>
				</div>

					<!-- <div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="p-5">
								<h2 class="display-4 fw-bold">The Bill Bio</h2>
								<p class="fs-3">Essential stats</p>
							</div>
						</div>
					</div> -->
	
					<!-- <div class="row row-cols-1 row-cols-3 g-3 p-4">
						
								{
									data.bill_bio.map((item) => (
									<div class="col">
										<div class="min-vh-25 p-3 bg-logo-blue rounded-4">
											<span class="badge fs-5 fs-light text-bg-primary p-2">{item.title}</span>
											<h2 class="mb-0">{item.content}</h2>
										</div>
									</div>
									))
								}
					</div> -->
	
					<div class="row p-4">
						<div class="col-lg-8 offset-lg-2 text-center p-5">
							<h2 class="display-4 fw-bold font-brush">
								{data.journey[0].title}
							</h2>
							<p class="fs-4">{data.journey[0].content}</p>
						</div>
						{
							data.journey.slice(1,5).map((item, index) => (
								<div class="col-lg-3 col-md-6 text-dark p-2">
									<div class:list={['p-4 rounded-4 min-vh-500', {'bg-silver': index === 2 ? 'bg-danger' : 'bg-success'}]}>
										<i class="bi bi-trophy-fill d-inline-block fs-1 border border-secondary rounded-4 px-3 py-2"></i>
										<h3 class="fs-2 fw-bold my-3">{item.title}</h3>
										<p>{item.content}</p>
									</div>
								</div>
							))
						}
					</div>

					<div class="row row-cols-1 row-cols-md-2 g-4 p-4">
						<div class="col d-flex flex-column justify-content-center align-items-start">
							<div class="p-3">
								<h2 class="display-4 fw-bold">{data.join.title}</h2>
								<p class="fs-5">{data.join.content}</p>
								<div class="btn btn-primary">{data.join.button}</div>
							</div>
						</div>
						<div class="col p-5">
							<img src="https://placehold.co/300x300" class="placeholder card-img-top w-100 rounded-circle shadow" alt="...">
							<!-- <div class="card" aria-hidden="true">
								<img src="https://placehold.co/1000x500" class="placeholder card-img-top w-100" alt="...">
								<div class="card-body">
								  <h5 class="card-title placeholder-glow">
									<span class="placeholder col-6"></span>
								  </h5>
								  <p class="card-text placeholder-glow">
									<span class="placeholder col-7"></span>
									<span class="placeholder col-4"></span>
									<span class="placeholder col-4"></span>
									<span class="placeholder col-6"></span>
									<span class="placeholder col-8"></span>
								  </p>
								  <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a>
								</div>
							  </div> -->
						</div>
					</div>

					<!-- contest -->

					<div class="row position-relative min-vh-50 p-5">
						<img class="position-absolute z-0 top-50 start-50 translate-middle w-50" src="src/assets/images/backgrounds/confetti.png" alt="">
						<div id="contest" class="col-lg-8 offset-lg-2 d-flex flex-column justify-content-center align-items-center text-center bg-electric-blue min-vh-50 rounded-4 p-5 position-relative" style="z-index: 100">
							<p class="fs-5"><Fragment set:html={data.contest.content} /></p>
						</div>
					</div>

					<div class="py-5"></div>

					<!-- what bill means -->

					<div class="row g-5 p-5">
						<div class="col-lg-12">
							<h2 class="display-4 fw=bold font-brush">{data.what_bill_means.title}</h2>
						</div>
						{ data.what_bill_means.quotes.map((item, index) => (
							<div class="col-md-6 col-lg-4">
								<div class="p-4 text-start min-vh-50 bg-purple text-light border rounded-5 shadow">
									<i class="bi bi-quote d-inline-block" style="font-size: 4rem"></i>
									<p class="fs-5">{item}</p>
								</div>
							</div>
						))}
					</div>

					<!-- ask bill -->

					<div class="row row-cols-1 row-cols-md-2 g-4 p-4">
						<div class="col d-flex flex-column justify-content-center align-items-start">
							<div class="p-3">
								<h2 class="display-4 fw-bold">{data.ask_bill.title}</h2>
								<p class="fs-5">{data.ask_bill.content}</p>
								<button class="btn btn-primary">{data.ask_bill.button}</button>
							</div>
						</div>
						<div class="col p-5">
							<img src="https://placehold.co/1000x700" class="placeholder w-100 shadow-lg rounded-5" alt="...">
						</div>
					</div>


					
				</div><!--end container-->

			

		</main>
	</Layout>

	<style>
		#contest::before {
  content: "Billebration Photo Contest";
  /* Some light styling */
  font-weight: bold;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
top: -40px;
z-index: -1;
text-align: center;
font-size: 8vmin;
font-family: 'Brush Script MT', cursive;

}
	</style>
